In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Data Analyst Jobs.xlsx')

In [4]:
# to delete new lines in each entry in the company name column
df['Company Name'] = df['Company Name'].str.replace('\n', '*')

In [6]:
# to split the company name column using * as separator
df[['Company_Name', 'Deletecolumn']] = df['Company Name'].str.split('*', expand=True)

In [8]:
# to drop the former company name column and the 'deletecolumn'
df.drop(['Company Name', 'Deletecolumn'], axis=1, inplace=True)

In [11]:
# df.sort_values(by='Company_Name', ascending=True, na_position='last')

# to delete rows with no actual company's name. That is rows with the company name as '1' and 'NaN'

df.drop(1, axis=0, inplace=True)
df.dropna(subset=['Company_Name'], axis=0, inplace=True)

In [14]:
# to check if there is still 'NaN' in company name column

# df['Company_Name'].isnull()

df.isnull().sum()

Industry           0
Salary Estimate    0
Company_Name       0
dtype: int64

In [15]:
# to delete entries with '-1' from industry column

df['Industry'] = df['Industry'].str.replace('-1', '')

In [17]:
# to split the salary estimate column into two columns: salary range and source.

df[['Salary Range', 'Source']] = df['Salary Estimate'].str.split('(', expand=True)

In [19]:
# to drop the salary estimate column
df.drop('Salary Estimate', axis=1, inplace=True)

In [21]:
# to strip entries in the source column of 'est.)' characters
df['Source'] = df['Source'].str.strip('est.)')

In [23]:
# to reset the index
df.reset_index(drop=True, inplace=True)

In [25]:
# to rearrange the columns such that salary range comes first, followed by company name, industry and source
df = df[['Salary Range', 'Company_Name', 'Industry', 'Source']]

In [27]:
# to export the cleaned dataframe into an excel file
df.to_excel('cleaneddataset_dataanalystsalary.xlsx')

In [26]:
df

,Salary Range,Company_Name,Industry,Source
0,$41K-$78K,2U,Enterprise Software & Network Solutions,Glassdoor
1,$77K-$132K,"8K Miles Software Services, Inc.",Computer Hardware & Software,Glassdoor
2,$57K-$100K,22nd Century Staffing,Staffing & Outsourcing,Glassdoor
3,$35K-$42K,22nd Century Technologies,IT Services,Glassdoor
4,$58K-$93K,212 Factors,,Glassdoor
...,...,...,...,...
1505,$51K-$93K,Zoom,IT Services,Glassdoor
1506,$35K-$45K,ZS Associates,Consulting,Glassdoor
1507,$47K-$74K,"ZS Associates, Inc.",,Glassdoor
1508,$42K-$76K,Zynga,Video Games,Glassdoor
1509,$65K-$81K,"zz-Tarzana Treatment Centers, Inc.",,Glassdoor